$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$secondary-medium-color: #6e909d;
$secondary-light-color: #c9d5db;
$secondary-extra-light-color: #f5f5f5;

$highlighted-color: #05c9e5;

$shadow-light-color: #bbc5cb;

$white: #ffffff;
$black: #000000;

$font-size-extra-large: 1.625rem;
$font-size-large: 1.25rem;
