@import '../../styles/base.scss';

.instructions {
  &-container {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
  }

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 360px;
    text-align: center;
    font-size: $font-size-large;
  }

  &-image {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.box {
  &-info {
    margin-top: 2.25rem;
    p {
      font-size: $font-size-large;
    }
  }

  &-terms {
    margin-top: 4rem;
    font-size: $font-size-large;
  }
}

.label {
  padding-left: 0.5rem;
}
