@import 'styles/base';

section {
  padding: 2rem 6rem 4rem;
  color: $secondary-color;
}

.title {
  &-text {
    font-size: $font-size-extra-large;
    margin-bottom: 0.75rem;
  }

  &-border {
    border-bottom: 4px solid $highlighted-color;
    width: 40px;
  }
}

.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.required {
  color: $secondary-medium-color;
}
