@import 'styles/base';

body {
  background-color: $secondary-lightest-color;
}

main {
  padding: 1.875rem 1.875rem 5.625rem;
  background: linear-gradient(
    180deg,
    $secondary-lighter-color 100px,
    transparent 100px
  );
}

.box-section {
  box-shadow: 0px 0px 15px 0 rgba(121, 144, 153, 0.295),
    0 0px 5px 0 rgba(121, 144, 153, 0.295);
}

section {
  padding: 2rem 6rem 4rem;
  color: $secondary-color;
  background-color: $white;
}

.title {
  &-text {
    font-size: $font-size-extra-large;
    margin-bottom: 0.75rem;
  }

  &-border {
    border-bottom: 4px solid $highlighted-color;
    width: 40px;
  }
}

.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.required {
  color: $secondary-medium-color;
}
