@import 'styles/base';

main {
  padding: 1rem 6rem;
  color: $secondary-color;
}

.title {
  &-text {
    font-size: $font-size-extra-large;
    margin-bottom: 0.75rem;
  }

  &-border {
    border-bottom: 4px solid $highlighted-color;
    width: 40px;
  }
}
