@import '../../styles/base.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 7rem;
  height: 150px;
  border-top: 3px solid $secondary-lightest-color;
  background-color: $white;
}

.btn,
a {
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  height: 60px;
  font-weight: bold;
  text-decoration: none;
}

.cancel-btn {
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $secondary-medium-color;
  }
}

.continue-btn {
  width: 170px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: $white;
  background-color: $secondary-color;
  transition: background-color 0.2s;

  &_icon {
    padding-left: 0.7rem;
    height: 15px;
    width: 12px;
  }

  &_loading {
    background-image: url('../../assets/img/loading.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 0.7rem;
    opacity: 0.7;
    height: 15px;
    width: 12px;
    animation: spin 1.2s ease infinite;
  }

  &:hover {
    background-color: $secondary-medium-color;
  }

  &:disabled {
    pointer-events: none;
    background-color: $secondary-light-color;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center center;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
